Repository rapaglaz/rapaglaz-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

refactor(routing): add explicit type to `loadPortfolio` function
  src/app/app.routes.ts
Due: eslint, prettier --write

fix(routing): remove root redirect for SSG-friendly entrypoint (#218)
  src/app/app.routes.ts
Due: eslint, prettier --write

style(footer): update button and icon styles for smoother interactions
  src/app/features/footer/footer.html
Due: eslint

style(language-switcher): update button styles and hover effects
  src/app/features/language-switcher/language-switcher.ts
Due: eslint, prettier --write

style(navbar): refine button and icon styles for hover effects
  src/app/features/navbar/navbar.html
Due: eslint

style(badge): update dark mode text color for better visibility
  src/app/ui/badge/badge.css
Due: prettier --write

style: increase contrast to meet WCAG 2 AA minimum
  src/app/features/language-switcher/language-switcher.ts
  src/app/features/navbar/navbar.html
Due: eslint, prettier --write

style: update UI styles for better dark mode and hover effects (#219)
  src/app/features/footer/footer.html
  src/app/features/language-switcher/language-switcher.ts
  src/app/features/navbar/navbar.html
  src/app/ui/badge/badge.css
Due: eslint, prettier --write

chore(deps): update Angular to v21.2.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update tailwindcss and daisyui to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update eslint and related dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update playwright-ng-schematics to v21.0.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm to version 10.30.3
  package.json
Due: prettier --write

chore: update node version in .nvmrc to 24.14.0
  .nvmrc
Due: none

ci(actions): restructure composite actions
  .github/actions/build/action.yaml
  .github/actions/deploy-preview/action.yaml
  .github/actions/lighthouse/format/action.yaml
  .github/actions/lighthouse/report/action.yaml
  .github/actions/main-check-action/action.yaml
  .github/actions/pr-check-action/action.yaml
  .github/actions/quality-check/action.yaml
  .github/actions/workspace-setup-action/action.yaml
  .github/actions/workspace-setup/action.yaml
Due: prettier --write

ci(workflows): add reusable e2e workflow
  .github/workflows/e2e.yaml
Due: prettier --write

ci(workflows): refactor pull-request-checks
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

ci(workflows): refactor merge-to-main-checks
  .github/workflows/merge-to-main-checks.yaml
Due: prettier --write

ci(workflows): add quality gate to deploy workflow
  .github/workflows/release.yaml
Due: prettier --write

ci(workflows): simplify lighthouse to scheduled-only
  .github/workflows/lighthouse.yaml
Due: prettier --write

ci(preview-cleanup): fix race condition on concurrent PR closes
  .github/workflows/preview-cleanup.yaml
Due: prettier --write

ci(workflows): grant statuses: write to e2e-tests caller jobs
  .github/workflows/merge-to-main-checks.yaml
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

ci(detect-changes): remove redundant base input from paths-filter
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

ci(workflow-lint): replace raven-actions/actionlint with direct binary download
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

ci: refactor workflows and composite actions (#221)
  .github/actions/build/action.yaml
  .github/actions/deploy-preview/action.yaml
  .github/actions/lighthouse/format/action.yaml
  .github/actions/lighthouse/report/action.yaml
  .github/actions/main-check-action/action.yaml
  .github/actions/pr-check-action/action.yaml
  .github/actions/quality-check/action.yaml
  .github/actions/workspace-setup-action/action.yaml
  .github/actions/workspace-setup/action.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/merge-to-main-checks.yaml
  .github/workflows/preview-cleanup.yaml
  .github/workflows/pull-request-checks.yaml
  .github/workflows/release.yaml
Due: prettier --write

chore(deps): update Angular to v21.2.0 (#220)
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(tokens): extract API_FEATURE_FLAG_URL injection token
  src/app/services/config/config.service.spec.ts
  src/app/services/config/config.service.ts
  src/app/services/feature-flag/feature-flag.service.spec.ts
  src/app/services/feature-flag/feature-flag.service.ts
  src/app/utils/tokens/api-urls.token.ts
Due: eslint, prettier --write

chore(prettier): add trailingComma: all
  .prettierrc
Due: none

refactor(tokens): extract API_FEATURE_FLAG_URL injection token (#222)
  .prettierrc
  src/app/services/config/config.service.spec.ts
  src/app/services/config/config.service.ts
  src/app/services/feature-flag/feature-flag.service.spec.ts
  src/app/services/feature-flag/feature-flag.service.ts
  src/app/utils/tokens/api-urls.token.ts
Due: eslint, prettier --write

ci: remove quality gate job from release workflow
  .github/workflows/release.yaml
Due: prettier --write

ci: remove quality gate job from release workflow (#223)
  .github/workflows/release.yaml
Due: prettier --write

ci: simplify PR checks workflow
  .github/actions/quality-check/action.yaml
  .github/workflows/merge-to-main-checks.yaml
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

ci: simplify PR checks workflow (#225)
  .github/actions/quality-check/action.yaml
  .github/workflows/merge-to-main-checks.yaml
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

docs: update architecture, CI, security, and setup
  docs/ARCHITECTURE.md
  docs/SECURITY.md
  docs/SETUP.md
Due: prettier --write

docs: update CI/CD strategy documentation
  docs/CI_STRATEGY.md
Due: prettier --write

ci: remove paths-ignore from PR trigger
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

ci: remove paths-ignore from PR trigger (#226)
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

build(ci): update lighthouse-ci-action to v12 tag
  .github/actions/lighthouse/report/action.yaml
  .github/workflows/lighthouse.yaml
Due: prettier --write

build(ci): update lighthouse-ci-action to v12 tag (#227)
  .github/actions/lighthouse/report/action.yaml
  .github/workflows/lighthouse.yaml
Due: prettier --write

ci: replace http-server with serve for preview command
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,js,cjs,mjs,html}
  prettier --write: any of: *.{ts,js,cjs,mjs,json,css,md,yml,yaml}
