Repository rapaglaz/rapaglaz-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,cjs,mjs,html}": ["eslint"],
  "*.{ts,js,cjs,mjs,json,css,md,yml,yaml}": ["prettier --write"]
}

fix(i18n): localize accessibility labels and startup errors
  docs/ARCHITECTURE.md
  e2e/locale-switch.spec.ts
  public/i18n/de.json
  public/i18n/en.json
  src/app/app.config.server.ts
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/app/app.routes.spec.ts
  src/app/features/about/about.spec.ts
  src/app/features/footer/footer.html
  src/app/features/footer/footer.spec.ts
  src/app/features/language-switcher/language-switcher.spec.ts
  src/app/features/language-switcher/language-switcher.ts
  src/app/features/navbar/navbar.html
  src/app/features/navbar/navbar.spec.ts
  src/app/testing/transloco-test-loader.spec.ts
  src/app/utils/i18n/index.ts
Due: eslint, prettier --write

fix(a11y): ensure theme and overlay contrast
  docs/ARCHITECTURE.md
  e2e/accessibility.spec.ts
  e2e/contrast.spec.ts
  src/app/features/navbar/navbar.html
  src/app/ui/toast-container/toast-container.ts
  src/styles.css
Due: eslint, prettier --write

fix(a11y): respect reduced motion and reveal focused content
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/utils/scroll/scroll-reveal.directive.spec.ts
  src/app/utils/scroll/scroll-reveal.directive.ts
  src/styles.css
Due: eslint, prettier --write

fix(ui): use standard DaisyUI CV loading animations
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/ui/turnstile-modal/turnstile-modal.html
  src/app/ui/turnstile-modal/turnstile-modal.spec.ts
  src/styles.css
Due: eslint, prettier --write

feat(ui): add decorative ocean contours to hero
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
  src/app/features/hero/hero.spec.ts
Due: eslint, prettier --write

feat(ui): add a one-time avatar halo
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/features/hero/hero.css
Due: eslint, prettier --write

feat(ui): animate contact cards on hover and focus
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/features/contact/contact.css
  src/app/features/contact/contact.html
  src/app/features/contact/contact.spec.ts
  src/app/features/contact/contact.ts
Due: eslint, prettier --write

feat(ui): draw ocean accents under section headings
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/ui/section-wrapper/section-wrapper.css
  src/app/ui/section-wrapper/section-wrapper.spec.ts
  src/app/ui/section-wrapper/section-wrapper.ts
Due: eslint, prettier --write

fix(claude): continue dependency setup after Node install failure
  .claude/hooks/install_pkgs.sh
Due: none

docs(design): version English hero background concepts
  design/hero-backgrounds/README.md
  design/hero-backgrounds/hero-background-preview.html
  design/hero-backgrounds/hero-background-variants.html
Due: eslint, prettier --write

docs(design): expand hero background collection to 177 variants
  design/hero-backgrounds/README.md
  design/hero-backgrounds/hero-background-preview.html
  design/hero-backgrounds/hero-background-variants.html
Due: eslint, prettier --write

refactor: consolidate shared imports and improve language test
  .gitignore
  src/app/features/navbar/navbar.spec.ts
  src/app/interceptors/turnstile.interceptor.spec.ts
  src/app/testing/transloco-test-loader.ts
  src/app/utils/i18n/browser-language.spec.ts
  src/app/utils/i18n/transloco-missing-handler.ts
Due: eslint, prettier --write

chore: add report-only dependency boundary checks
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: enforce layer boundaries and cycle checks with dependency-cruiser
  .dependency-cruiser.cjs
  .github/actions/quality-check/action.yaml
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CI_STRATEGY.md
  docs/DEPENDENCY_BOUNDARIES.md
  docs/SETUP.md
  src/app/utils/i18n/transloco-missing-handler.ts
Due: eslint, prettier --write

chore: enforce layer boundaries and cycle checks with dependency-cruiser (#756)
  .dependency-cruiser.cjs
  .github/actions/quality-check/action.yaml
  .gitignore
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CI_STRATEGY.md
  docs/DEPENDENCY_BOUNDARIES.md
  docs/SETUP.md
  package.json
  pnpm-lock.yaml
  src/app/features/navbar/navbar.spec.ts
  src/app/interceptors/turnstile.interceptor.spec.ts
  src/app/testing/transloco-test-loader.ts
  src/app/utils/i18n/browser-language.spec.ts
Due: eslint, prettier --write

fix(a11y): make CV verification keyboard accessible
  docs/ARCHITECTURE.md
  e2e/cv-download.spec.ts
  e2e/utils.ts
  public/i18n/de.json
  public/i18n/en.json
  src/app/features/navbar/navbar.html
  src/app/features/navbar/navbar.spec.ts
  src/app/features/navbar/navbar.ts
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
  src/app/services/turnstile/turnstile.service.spec.ts
  src/app/services/turnstile/turnstile.service.ts
  src/app/ui/turnstile-modal/turnstile-modal.html
  src/app/ui/turnstile-modal/turnstile-modal.spec.ts
  src/app/ui/turnstile-modal/turnstile-modal.ts
Due: eslint, prettier --write

fix(a11y): preserve locale and focus when skipping navigation
  e2e/accessibility.spec.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/app/portfolio/portfolio.ts
Due: eslint, prettier --write

test: expand unit coverage for portfolio behavior
  src/app/app.config.spec.ts
  src/app/app.routes.spec.ts
  src/app/features/about/about.spec.ts
  src/app/features/contact/contact.spec.ts
  src/app/features/hero/hero.spec.ts
  src/app/features/languages/languages.spec.ts
  src/app/features/navbar/navbar.spec.ts
  src/app/features/skills/skills.spec.ts
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/toast/toast.service.spec.ts
  src/app/services/turnstile/turnstile.service.spec.ts
  src/app/testing/transloco-test-loader.spec.ts
  src/app/ui/toast-container/toast-container.spec.ts
  src/app/ui/turnstile-modal/turnstile-modal.spec.ts
  src/app/utils/contact/open-contact-email.spec.ts
  src/app/utils/tokens/api-urls.token.spec.ts
Due: eslint, prettier --write

fix(i18n): synchronize route and document language
  docs/ARCHITECTURE.md
  e2e/locale-switch.spec.ts
  src/app/app.routes.spec.ts
  src/app/app.routes.ts
  src/app/features/language-switcher/language-switcher.spec.ts
  src/app/features/language-switcher/language-switcher.ts
Due: eslint, prettier --write

fix(a11y): preserve toast focus and notification access
  docs/ARCHITECTURE.md
  e2e/toast.spec.ts
  public/i18n/de.json
  public/i18n/en.json
  src/app/services/toast/toast.service.spec.ts
  src/app/services/toast/toast.service.ts
  src/app/ui/toast-container/toast-container.spec.ts
  src/app/ui/toast-container/toast-container.ts
Due: eslint, prettier --write

test(e2e): run axe checks for the English content only
  docs/ARCHITECTURE.md
  e2e/accessibility.spec.ts
Due: eslint, prettier --write

Revert "test(e2e): run axe checks for the English content only"
  docs/ARCHITECTURE.md
  e2e/accessibility.spec.ts
Due: eslint, prettier --write

fix(claude): keep CI=true for pnpm install
  .claude/hooks/install_pkgs.sh
Due: none

fix(claude): continue dependency setup after Node install failure (#758)
  .claude/hooks/install_pkgs.sh
Due: none

feat(ui): draw the hero name as an outline
  docs/ARCHITECTURE.md
  src/app/features/hero/hero.css
Due: prettier --write

feat(ui): update navbar background on scroll state
  src/app/features/navbar/navbar.html
Due: eslint

feat(ui): animate contact cards and outline the hero name (#759)
  docs/ARCHITECTURE.md
  e2e/motion.spec.ts
  src/app/features/contact/contact.css
  src/app/features/contact/contact.html
  src/app/features/contact/contact.spec.ts
  src/app/features/contact/contact.ts
  src/app/features/hero/hero.css
  src/app/features/navbar/navbar.html
Due: eslint, prettier --write

feat(ui): add a light fill to the hero name outline
  docs/ARCHITECTURE.md
  src/app/features/hero/hero.css
Due: prettier --write

feat(ui): darken and neutralize the dark theme background
  src/styles.css
Due: prettier --write

feat(ui): add backdrop-filter and background-color to navbar
  src/app/features/navbar/navbar.html
Due: eslint

feat(ui): add a light fill to the hero name outline (#760)
  docs/ARCHITECTURE.md
  src/app/features/hero/hero.css
Due: prettier --write

feat(ui): darken and neutralize the dark theme background (#761)
  src/app/features/navbar/navbar.html
  src/styles.css
Due: eslint, prettier --write

feat(ui): hide inner glyph contours in the hero name outline
  docs/ARCHITECTURE.md
  src/app/features/hero/hero.css
Due: prettier --write
