Repository rapaglaz/rapaglaz-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,cjs,mjs,html}": ["eslint"],
  "*.{ts,js,cjs,mjs,json,css,md,yml,yaml}": ["prettier --write"]
}

fix(footer): shrink mail icon and align its baseline with brand icons
  src/app/features/footer/footer.html
Due: eslint

fix(footer): shrink github icon to match optical size of siblings
  src/app/features/footer/footer.html
Due: eslint

fix(footer): restore github icon size and nudge it down for baseline fit
  src/app/features/footer/footer.html
Due: eslint

fix(footer): unify social icon sizes and style (#515)
  src/app/features/footer/footer.html
Due: eslint

style(skills): format SkillCategoryId for consistency
  src/app/content/skills.content.ts
Due: eslint, prettier --write

chore(de): update German profile translations
  public/i18n/de.json
Due: prettier --write

chore(de): update German profile translations (#584)
  public/i18n/de.json
Due: prettier --write

chore(en): update english profile translations
  public/i18n/en.json
Due: prettier --write

chore(en): update English profile translations (#585)
  public/i18n/en.json
Due: prettier --write

chore(de): update hero description
  public/i18n/de.json
Due: prettier --write

chore(de): update hero description (#586)
  public/i18n/de.json
Due: prettier --write

fix(ci): require e2e-tests in quality-check gate
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): require e2e-tests in quality-check gate (#587)
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

feat(skills): add ngrx to skills list
  public/i18n/de.json
  public/i18n/en.json
  src/app/content/skills.content.ts
Due: eslint, prettier --write

feat(skills): add ngrx to skills list (#588)
  public/i18n/de.json
  public/i18n/en.json
  src/app/content/skills.content.ts
Due: eslint, prettier --write

chore(deps): adjust version ranges for low-risk dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): adjust version ranges for low-risk dependencies (#589)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update node and pnpm versions
  .nvmrc
  package.json
Due: prettier --write

chore(deps): update node and pnpm versions (#590)
  .nvmrc
  package.json
Due: prettier --write

feat(tests): add vitest UI and watch mode commands
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(tests): add vitest UI and watch mode commands (#596)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deploy): retry FTP deployment on failure
  .github/workflows/release.yaml
Due: prettier --write

fix(deploy): retry FTP deployment on failure (#597)
  .github/workflows/release.yaml
Due: prettier --write

feat(navbar): add fade-in animation to navbar
  src/app/features/navbar/navbar.css
  src/app/features/navbar/navbar.ts
Due: eslint, prettier --write

feat(navbar): add fade-in animation to navbar (#604)
  src/app/features/navbar/navbar.css
  src/app/features/navbar/navbar.ts
Due: eslint, prettier --write

feat(navbar): enhance fade-in animation timing
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
  src/app/features/navbar/navbar.css
Due: eslint, prettier --write

feat(navbar): enhance fade-in animation timing (#605)
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
  src/app/features/navbar/navbar.css
Due: eslint, prettier --write

chore(hero): adjust animation timing for hero elements
  src/app/features/hero/hero.css
Due: prettier --write

chore(hero): adjust animation timing for hero elements (#606)
  src/app/features/hero/hero.css
Due: prettier --write

chore: update angular dependencies to 22.1.x
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: format codebase
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
Due: eslint, prettier --write

fix(build): align script budget with optimized chunks
  angular.json
Due: prettier --write

chore(dependencies): update angular dependencies to 22.1.x (#623)
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
Due: eslint, prettier --write

fix: update daisyui to v5.7.27
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update postcss to v8.5.28 and pnpm to v12.3.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: deploy FTP directly without retry wrapper
  .github/workflows/release.yaml
Due: prettier --write

ci: deploy FTP directly without retry wrapper (#662)
  .github/workflows/release.yaml
Due: prettier --write

refactor(ci): merge deploy into main branch CI/CD pipeline
  .github/workflows/main-branch-ci-cd.yaml
  .github/workflows/release.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

fix(ci): make lighthouse result formatting resilient to null scores
  .github/actions/lighthouse/format/action.yaml
  .lighthouserc.cjs
Due: eslint, prettier --write

refactor(ci): run Lighthouse directly instead of via @lhci/cli
  .github/actions/lighthouse/format/action.yaml
  .github/actions/lighthouse/report/action.yaml
  .lighthouserc.cjs
  docs/ARCHITECTURE.md
  docs/CI_STRATEGY.md
  docs/SETUP.md
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write
