Repository rapaglaz/rapaglaz-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(cv-download): update CV filenames for downloads
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
Due: eslint, prettier --write

fix(cv-download): update CV in e2e tests
  e2e/cv-download.spec.ts
Due: eslint, prettier --write

feat(i18n, cv-download): update CV content and filenames (#489)
  e2e/cv-download.spec.ts
  public/i18n/de.json
  public/i18n/en.json
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
Due: eslint, prettier --write

refactor(feature-flag): replace LRU caches with httpResource
  src/app/features/hero/hero.html
  src/app/features/hero/hero.ts
  src/app/features/navbar/navbar.html
  src/app/features/navbar/navbar.spec.ts
  src/app/features/navbar/navbar.ts
  src/app/services/feature-flag/feature-flag.service.spec.ts
  src/app/services/feature-flag/feature-flag.service.ts
Due: eslint, prettier --write

refactor(config): replace manual retry counter with retry operator
  src/app/services/config/config.service.spec.ts
  src/app/services/config/config.service.ts
Due: eslint, prettier --write

refactor(navbar): extract height measurement into directive
  src/app/features/navbar/navbar.html
  src/app/features/navbar/navbar.ts
  src/app/utils/layout/index.ts
  src/app/utils/layout/measure-navbar-height.directive.spec.ts
  src/app/utils/layout/measure-navbar-height.directive.ts
Due: eslint, prettier --write

refactor(feature-flag, config, navbar): streamline feature flag handling and navbar height measurement (#498)
  src/app/features/hero/hero.html
  src/app/features/hero/hero.ts
  src/app/features/navbar/navbar.html
  src/app/features/navbar/navbar.spec.ts
  src/app/features/navbar/navbar.ts
  src/app/services/config/config.service.spec.ts
  src/app/services/config/config.service.ts
  src/app/services/feature-flag/feature-flag.service.spec.ts
  src/app/services/feature-flag/feature-flag.service.ts
  src/app/utils/layout/index.ts
  src/app/utils/layout/measure-navbar-height.directive.spec.ts
  src/app/utils/layout/measure-navbar-height.directive.ts
Due: eslint, prettier --write

docs(architecture): update architecture documentation
  docs/ARCHITECTURE.md
Due: prettier --write

docs(agents): update agent guide
  AGENTS.md
Due: prettier --write

docs(architecture): update architecture and agent documentation (#499)
  AGENTS.md
  docs/ARCHITECTURE.md
Due: prettier --write

fix(config): refetch config after failed retries instead of caching the error
  src/app/services/config/config.service.spec.ts
  src/app/services/config/config.service.ts
Due: eslint, prettier --write

fix(renovate): repair Playwright Docker image custom manager
  renovate.json
Due: prettier --write

ci(release): deploy the commit validated by Main Branch Checks
  .github/workflows/release.yaml
Due: prettier --write

test(e2e): actually exercise the Turnstile error-callback path
  e2e/cv-download.spec.ts
  e2e/utils.ts
Due: eslint, prettier --write

chore(prettier): ignore gitignored .agents directory
  .prettierignore
Due: none

perf(images): recompress hero avatar webp 164kB -> 33kB
  public/images/IMG_2290-384.webp
Due: none

fix(security): correct docs header name and non-standard meta tags
  docs/SECURITY.md
  src/index.html
Due: eslint, prettier --write

ci(pr-checks): skip the test job entirely for renovate PRs
  .github/actions/quality-check/action.yaml
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

perf(images): recompress hero avatar webp 164kB -> 33kB (#505)
  public/images/IMG_2290-384.webp
Due: none

chore(prettier): ignore gitignored .agents directory (#504)
  .prettierignore
Due: none

ci(pr-checks): skip the test job entirely for renovate PRs (#507)
  .github/actions/quality-check/action.yaml
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

fix(security): correct docs header name and non-standard meta tags (#506)
  docs/SECURITY.md
  src/index.html
Due: eslint, prettier --write

ci(release): deploy the commit validated by Main Branch Checks (#502)
  .github/workflows/release.yaml
Due: prettier --write

fix(renovate): repair Playwright Docker image custom manager (#501)
  renovate.json
Due: prettier --write

fix(config): refetch config after failed retries instead of caching the error (#500)
  src/app/services/config/config.service.spec.ts
  src/app/services/config/config.service.ts
Due: eslint, prettier --write

test(e2e): actually exercise the Turnstile error-callback path (#503)
  e2e/cv-download.spec.ts
  e2e/utils.ts
Due: eslint, prettier --write

ci(cache): refresh the Angular build cache on every run
  .github/actions/workspace-setup/action.yaml
Due: prettier --write

ci(release): deploy the artifact Main Branch Checks tested instead of rebuilding
  .github/workflows/release.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

ci(cache): refresh the Angular build cache on every run (#508)
  .github/actions/workspace-setup/action.yaml
Due: prettier --write

feat(seo): add Open Graph and Twitter meta tags per language
  src/app/portfolio/portfolio.spec.ts
  src/app/portfolio/portfolio.ts
Due: eslint, prettier --write

ci(release): deploy the artifact Main Branch Checks tested instead of rebuilding (#509)
  .github/workflows/release.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

refactor(app): extract shared contact-email, feature-flag and active-lang helpers
  src/app/features/certifications/certifications.ts
  src/app/features/footer/footer.ts
  src/app/features/hero/hero.ts
  src/app/features/language-switcher/language-switcher.ts
  src/app/features/navbar/navbar.spec.ts
  src/app/features/navbar/navbar.ts
  src/app/services/cv-download/cv-download.service.ts
  src/app/services/feature-flag/feature-flag.service.ts
  src/app/utils/contact/index.ts
  src/app/utils/contact/open-contact-email.ts
  src/app/utils/i18n/active-lang.ts
  src/app/utils/i18n/index.ts
Due: eslint, prettier --write

perf(build): raise initial bundle warning budget to a measured 560kB
  angular.json
Due: prettier --write

perf(build): raise initial bundle warning budget to a measured 560kB (#512)
  angular.json
Due: prettier --write

refactor(app): extract shared contact-email, feature-flag and active-lang helpers (#511)
  src/app/features/certifications/certifications.ts
  src/app/features/footer/footer.ts
  src/app/features/hero/hero.ts
  src/app/features/language-switcher/language-switcher.ts
  src/app/features/navbar/navbar.spec.ts
  src/app/features/navbar/navbar.ts
  src/app/services/cv-download/cv-download.service.ts
  src/app/services/feature-flag/feature-flag.service.ts
  src/app/utils/contact/index.ts
  src/app/utils/contact/open-contact-email.ts
  src/app/utils/i18n/active-lang.ts
  src/app/utils/i18n/index.ts
Due: eslint, prettier --write

refactor(seo): drop twitter meta tags, keep Open Graph only
  src/app/portfolio/portfolio.spec.ts
  src/app/portfolio/portfolio.ts
Due: eslint, prettier --write

feat(seo): add Open Graph meta tags per language (#510)
  src/app/portfolio/portfolio.spec.ts
  src/app/portfolio/portfolio.ts
Due: eslint, prettier --write

fix(footer): unify social icon sizes and style
  src/app/features/footer/footer.html
Due: eslint

fix(footer): soften icon strokes and align glyph optical centers
  src/app/features/footer/footer.html
Due: eslint

fix(footer): reuse navbar mail glyph with optically equalized sizing
  src/app/features/footer/footer.html
Due: eslint

Path conditions:
  eslint: any of: *.{ts,js,cjs,mjs,html}
  prettier --write: any of: *.{ts,js,cjs,mjs,json,css,md,yml,yaml}
