Repository rapaglaz/rapaglaz-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,cjs,mjs,html}": ["eslint"],
  "*.{ts,js,cjs,mjs,json,css,md,yml,yaml}": ["prettier --write"]
}

fix(ci): make lighthouse result formatting resilient to null scores (#664)
  .github/actions/lighthouse/format/action.yaml
  .github/actions/lighthouse/report/action.yaml
  .lighthouserc.cjs
  docs/ARCHITECTURE.md
  docs/CI_STRATEGY.md
  docs/SETUP.md
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

refactor(ci): merge deploy into main branch CI/CD pipeline (#663)
  .github/workflows/main-branch-ci-cd.yaml
  .github/workflows/release.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

feat(hero): update hero name to Radoslaw Glaz
  public/i18n/de.json
  public/i18n/en.json
  src/app/features/hero/hero.html
Due: eslint, prettier --write

test(portfolio): update expected hero name in meta tag assertions
  src/app/portfolio/portfolio.spec.ts
Due: eslint, prettier --write

fix(seo): update static title/description meta to Radoslaw Glaz
  src/index.html
Due: eslint

feat(hero): update hero name to Radoslaw Glaz (#682)
  public/i18n/de.json
  public/i18n/en.json
  src/app/features/hero/hero.html
  src/app/portfolio/portfolio.spec.ts
  src/index.html
Due: eslint, prettier --write

fix(deps): pin jsdom to 30.0.1 to fix broken unit tests
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

fix(ci): pin Playwright Docker image to v1.62.0-noble
  .github/workflows/main-branch-ci-cd.yaml
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): always run e2e-tests for the testing-tools Renovate group
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(deps): pin jsdom to 30.0.1 to fix broken unit tests (#712)
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

fix(ci): pin Playwright Docker image to v1.62.0-noble (#713)
  .github/workflows/main-branch-ci-cd.yaml
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): always run e2e-tests for the testing-tools Renovate group (#714)
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

docs(ci): clarify NO_LCP log noise in lighthouse job is cosmetic
  docs/CI_STRATEGY.md
Due: prettier --write

docs(ci): clarify NO_LCP log noise in lighthouse job is cosmetic (#715)
  docs/CI_STRATEGY.md
Due: prettier --write

fix(ci): require unit and e2e tests for all pull requests
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

chore(deps): upgrade vitest and remove jsdom version restriction
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

fix(ci): require unit and e2e tests for all pull requests (#730)
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

fix(e2e): wait for hero animations before accessibility scan
  e2e/accessibility.spec.ts
Due: eslint, prettier --write

fix(e2e): launch static server directly for reliable shutdown
  playwright.config.ts
Due: eslint, prettier --write

fix(ci): run actionlint and lighthouse for Renovate PRs
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

fix(ci): run actionlint and lighthouse for Renovate PRs (#731)
  .github/workflows/pull-request-checks.yaml
  docs/CI_STRATEGY.md
Due: prettier --write

fix(deps): update Angular dependencies to v22.2.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update Angular dependencies to v22.2.0 (#727)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(renovate): simplify config, group Playwright, harden security
  renovate.json
Due: prettier --write

chore(renovate): simplify config, group Playwright, harden security (#752)
  renovate.json
Due: prettier --write

chore: add actionlint and zizmor workflow linting
  .github/workflows/pull-request-checks.yaml
  lefthook.yml
  mise.toml
Due: prettier --write

chore: add actionlint and zizmor workflow linting (#753)
  .github/workflows/pull-request-checks.yaml
  lefthook.yml
  mise.toml
Due: prettier --write

fix(ci): harden workflows flagged by zizmor
  .github/actions/build/action.yaml
  .github/workflows/main-branch-ci-cd.yaml
  .github/workflows/pull-request-checks.yaml
  .github/zizmor.yml
  lefthook.yml
Due: prettier --write

fix(ci): point zizmor ignore at the shifted FTP deploy line
  .github/zizmor.yml
Due: prettier --write

fix(ci): harden workflows flagged by zizmor (#754)
  .github/actions/build/action.yaml
  .github/workflows/main-branch-ci-cd.yaml
  .github/workflows/pull-request-checks.yaml
  .github/zizmor.yml
  lefthook.yml
Due: prettier --write

chore: install pinned Node and dependencies in cloud sessions
  .claude/hooks/install_pkgs.sh
  .claude/settings.json
Due: prettier --write

chore: install pinned Node and dependencies in cloud sessions (#755)
  .claude/hooks/install_pkgs.sh
  .claude/settings.json
Due: prettier --write

refactor: consolidate shared imports and improve language test
  .gitignore
  src/app/features/navbar/navbar.spec.ts
  src/app/interceptors/turnstile.interceptor.spec.ts
  src/app/testing/transloco-test-loader.ts
  src/app/utils/i18n/browser-language.spec.ts
  src/app/utils/i18n/transloco-missing-handler.ts
Due: eslint, prettier --write

fix(i18n): synchronize route and document language
  docs/ARCHITECTURE.md
  e2e/locale-switch.spec.ts
  src/app/app.routes.spec.ts
  src/app/app.routes.ts
  src/app/features/language-switcher/language-switcher.spec.ts
  src/app/features/language-switcher/language-switcher.ts
Due: eslint, prettier --write

chore: enforce layer boundaries and cycle checks with dependency-cruiser
  .dependency-cruiser.cjs
  .github/actions/quality-check/action.yaml
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CI_STRATEGY.md
  docs/DEPENDENCY_BOUNDARIES.md
  docs/SETUP.md
  src/app/utils/i18n/transloco-missing-handler.ts
Due: eslint, prettier --write

fix(a11y): preserve locale and focus when skipping navigation
  e2e/accessibility.spec.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/app/portfolio/portfolio.ts
Due: eslint, prettier --write

chore: add report-only dependency boundary checks
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

test: expand unit coverage for portfolio behavior
  src/app/app.config.spec.ts
  src/app/app.routes.spec.ts
  src/app/features/about/about.spec.ts
  src/app/features/contact/contact.spec.ts
  src/app/features/hero/hero.spec.ts
  src/app/features/languages/languages.spec.ts
  src/app/features/navbar/navbar.spec.ts
  src/app/features/skills/skills.spec.ts
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/toast/toast.service.spec.ts
  src/app/services/turnstile/turnstile.service.spec.ts
  src/app/testing/transloco-test-loader.spec.ts
  src/app/ui/toast-container/toast-container.spec.ts
  src/app/ui/turnstile-modal/turnstile-modal.spec.ts
  src/app/utils/contact/open-contact-email.spec.ts
  src/app/utils/tokens/api-urls.token.spec.ts
Due: eslint, prettier --write

fix(a11y): make CV verification keyboard accessible
  docs/ARCHITECTURE.md
  e2e/cv-download.spec.ts
  e2e/utils.ts
  public/i18n/de.json
  public/i18n/en.json
  src/app/features/navbar/navbar.html
  src/app/features/navbar/navbar.spec.ts
  src/app/features/navbar/navbar.ts
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
  src/app/services/turnstile/turnstile.service.spec.ts
  src/app/services/turnstile/turnstile.service.ts
  src/app/ui/turnstile-modal/turnstile-modal.html
  src/app/ui/turnstile-modal/turnstile-modal.spec.ts
  src/app/ui/turnstile-modal/turnstile-modal.ts
Due: eslint, prettier --write

fix(a11y): preserve toast focus and notification access
  docs/ARCHITECTURE.md
  e2e/toast.spec.ts
  public/i18n/de.json
  public/i18n/en.json
  src/app/services/toast/toast.service.spec.ts
  src/app/services/toast/toast.service.ts
  src/app/ui/toast-container/toast-container.spec.ts
  src/app/ui/toast-container/toast-container.ts
Due: eslint, prettier --write
