Repository rapaglaz/rapaglaz-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

ci: replace http-server with serve for preview command (#228)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(certifications): handle invalid date input in `formatDate`
  src/app/features/certifications/certifications.ts
Due: eslint, prettier --write

fix(certifications): handle invalid date input in `formatDate` (#229)
  src/app/features/certifications/certifications.ts
Due: eslint, prettier --write

feat(logger): add error logging to `withErrorToast` operator
  src/app/features/navbar/navbar.ts
  src/app/utils/rxjs/with-error-toast.operator.spec.ts
  src/app/utils/rxjs/with-error-toast.operator.ts
Due: eslint, prettier --write

feat(logger): add error logging to `withErrorToast` operator (#230)
  src/app/features/navbar/navbar.ts
  src/app/utils/rxjs/with-error-toast.operator.spec.ts
  src/app/utils/rxjs/with-error-toast.operator.ts
Due: eslint, prettier --write

fix(cv-download): use API_BASE_URL token for download endpoint
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
Due: eslint, prettier --write

fix(cv-download): correct API_BASE_URL import path
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
Due: eslint, prettier --write

fix(cv-download): provide API_BASE_URL override in test module
  src/app/services/cv-download/cv-download.service.spec.ts
Due: eslint, prettier --write

fix(cv-download): use API_BASE_URL token for download endpoint (#231)
  src/app/services/cv-download/cv-download.service.spec.ts
  src/app/services/cv-download/cv-download.service.ts
Due: eslint, prettier --write

feat(feature-flag): add LRU cache eviction and error logging
  src/app/services/feature-flag/feature-flag.service.spec.ts
  src/app/services/feature-flag/feature-flag.service.ts
Due: eslint, prettier --write

feat(feature-flag): add LRU cache eviction and error logging (#232)
  src/app/services/feature-flag/feature-flag.service.spec.ts
  src/app/services/feature-flag/feature-flag.service.ts
Due: eslint, prettier --write

refactor(turnstile): migrate modal to CDK Overlay and add script retry
  src/app/services/turnstile/turnstile.service.spec.ts
  src/app/services/turnstile/turnstile.service.ts
  src/app/ui/turnstile-modal/turnstile-modal.ts
Due: eslint, prettier --write

refactor(turnstile): migrate modal to CDK Overlay and add script retry (#233)
  src/app/services/turnstile/turnstile.service.spec.ts
  src/app/services/turnstile/turnstile.service.ts
  src/app/ui/turnstile-modal/turnstile-modal.ts
Due: eslint, prettier --write

feat(i18n): set html lang attr and add fallback on load error
  src/app/app.config.spec.ts
  src/app/app.config.ts
Due: eslint, prettier --write

refactor(tests): simplify logger service imports in tests
  src/app/utils/i18n/transloco-missing-handler.spec.ts
Due: eslint, prettier --write

feat(i18n): set html lang attr and add fallback on load error (#234)
  src/app/app.config.spec.ts
  src/app/app.config.ts
  src/app/utils/i18n/transloco-missing-handler.spec.ts
Due: eslint, prettier --write

chore(renovate): tune automerge and reduce CI usage
  renovate.json
Due: prettier --write

chore(renovate): tune automerge and reduce CI usage (#235)
  renovate.json
Due: prettier --write

fix(tests): remove unnecessary mockImplementation from spies
  src/app/utils/i18n/transloco-missing-handler.spec.ts
Due: eslint, prettier --write

fix(renovate): formatting
  renovate.json
Due: prettier --write

fix(tests): remove unnecessary mockImplementation from spies (#240)
  renovate.json
  src/app/utils/i18n/transloco-missing-handler.spec.ts
Due: eslint, prettier --write

style: update footer, navbar, and hero for consistent UI spacing
  src/app/features/footer/footer.html
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
  src/app/features/navbar/navbar.html
Due: eslint, prettier --write

style: update footer, navbar, and hero for consistent UI spacing (#241)
  src/app/features/footer/footer.html
  src/app/features/hero/hero.css
  src/app/features/hero/hero.html
  src/app/features/navbar/navbar.html
Due: eslint, prettier --write

feat(ci): add average score calculation to Lighthouse actions
  .github/actions/lighthouse/format/action.yaml
  .github/actions/lighthouse/report/action.yaml
  .lighthouserc.cjs
Due: eslint, prettier --write

feat(seo): add resource hints for Cloudflare challenges
  src/index.html
Due: eslint

chore(lighthouse): add resource hints and improve Lighthouse CI scoring (#242)
  .github/actions/lighthouse/format/action.yaml
  .github/actions/lighthouse/report/action.yaml
  .lighthouserc.cjs
  src/index.html
Due: eslint, prettier --write

ci: enhance pull request workflow for improved deploy handling
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

ci: enhance pull request workflow for improved deploy handling (#243)
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): prevent gh-pages deploy after PR merge
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): pass PR number via env to avoid script injection
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): use state field instead of merged in gh pr view
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

fix(ci): prevent gh-pages deploy after PR merge (#244)
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

feat(ci): add custom gh-pages deploy workflow with cancel-in-progress
  .github/workflows/deploy-gh-pages.yaml
Due: prettier --write

refactor(ci): cleanup deploy-preview job conditions and naming
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

feat(ci): replace built-in gh-pages deploy with custom workflow (#245)
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/pull-request-checks.yaml
Due: prettier --write

chore: migrate deploy action to milanmk/actions-file-deployer
  .github/workflows/release.yaml
Due: prettier --write

fix: code formatting
  .github/workflows/release.yaml
  src/app/features/hero/hero.html
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,js,cjs,mjs,html}
  prettier --write: any of: *.{ts,js,cjs,mjs,json,css,md,yml,yaml}
